#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movie-card {
    position: relative;
}

.movie-card .rating {
    position: absolute;
    top: 10px;
    right: 10px;
    @apply bg-black/70 p-2 rounded-lg flex items-center gap-1 z-10;
}

.movie-card .rating img {
    @apply w-4 h-4;
}

.logo-container {
    margin-bottom: 20px;
    text-align: center;
}

.main-logo {
    height: 55px;
    width: auto;
}

@media (max-width: 768px) {
    .main-logo {
        height: 40px;
    }
}

.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.header-content {
  @apply flex flex-col sm:flex-row items-center justify-center gap-2 sm:gap-10 mt-2 sm:-mt-[60px] mb-2 sm:mb-5;
}

.logo-link {
  @apply sm:ml-[200px];
}

.logo-image {
  @apply h-[60px] sm:h-[170px] w-auto;
}

.hero-image {
  @apply w-[30px] sm:w-[150px] h-auto;
}

.main-title {
  @apply text-2xl sm:text-5xl mt-2 sm:-mt-5 px-4;
}

.trending {
  padding: 1rem;
}

.trending h2 {
  margin-bottom: 1rem;
}

.trending img {
  transition: transform 0.3s;
}

.trending img:hover {
  transform: scale(1.05);
}
